body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light grey background for the page */
}
.navbar {
    background-color: #7CB342; /* Green color */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#theOne{
    background-color: #7db3f5; /* Blue color on hover */
    border-color: #7db3f5; /* Match border color on hover */
}

.navbar img {
    height: 40px;
    width: 67px;
}
.navbar .nav-links {
    display: flex;
    gap: 15px;
}
.nav-link {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid white; /* Thin white border */
    transition: background-color 0.3s, border-color 0.3s;
}
.nav-link:hover {
    background-color: #7db3f5; /* Blue color on hover */
    border-color: #7db3f5; /* Match border color on hover */
}

 
 
 
 
 

     button {
            background-color: #7CB342; /* Green color */
            color: white;
            padding: 15px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 50px;
            border: none;
            cursor: pointer;
            font-family: Arial, sans-serif;
            align-items: center;
        }
        button:hover {
            background-color: #5A8C2A;
        }
        .button-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
        }
        h1 {
            font-size: 4em;
            margin: 0;
            color: #333;
        }

    

        #guideContent {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        #glossary-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
        }
        
        .section {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin: 20px 0;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            background-color: #f9f9f9;
            width: 100%;
        }
        
        .section img {
            max-width: 100%;
            height: auto;
            flex-basis: 40%;
            border-radius: 8px;
            margin: 10px;
        }
        
        .section .text {
            flex-basis: 55%;
            margin: 10px;
        }
        
        .section:nth-child(odd) {
            flex-direction: row;
        }
        
        .section:nth-child(even) {
            flex-direction: row-reverse;
        }
        
        .section h2 {
            margin-bottom: 10px;
            font-size: 24px;
            color: #333;
        }
        
        .section p {
            font-size: 16px;
            color: #666;
            line-height: 1.5;
        }
        







        




