


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light grey background for the page */
 }  

#formatted-output {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
} 

#theOne{
    background-color: #7db3f5; /* Blue color on hover */
    border-color: #7db3f5; /* Match border color on hover */
}

.navbar {
    margin: 0;
    padding: 0;
    background-color: #7CB342; /* Green color */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar img {
    height: 40px;
    width:129px;
    /* width: 67px; */
    width: auto;
}
.navbar .nav-links {
    display: flex;
    gap: 15px;
}
.nav-link {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid white; /* Thin white border */
    transition: background-color 0.3s, border-color 0.3s;
}
.nav-link:hover {
    background-color: #7db3f5; /* Blue color on hover */
    border-color: #7db3f5; /* Match border color on hover */
}











button {
    background-color: #7CB342; /* Green color */
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    align-items: center;
}
button:hover {
    background-color: #5A8C2A; /* Darker green color for hover effect */
}
.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; /* Space between buttons */
}

















body {
    font-family: Arial, sans-serif;
}


#feedbackInput {
    height: 100px;
    margin-bottom: 15px;
}

#submitFeedback {
    background-color: #7CB342;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#submitFeedback:hover {
    background-color: #5A8C2A;
}

#feedback-area {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#feedbackBox {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}
#feedback-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
    min-height: 10px;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}