

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4; /* Light grey background for the page */
        }
        #theOne{
            background-color: #7db3f5; /* Blue color on hover */
            border-color: #7db3f5; /* Match border color on hover */
        }
        .navbar {
            background-color: #7CB342; /* Green color */
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .navbar img {
            height: 40px;
            width: 67px;
        }
        .navbar .nav-links {
            display: flex;
            gap: 15px;
        }
        .feedbackBox{
            display:hidden;

        }
        #feedbackBox{
            display:hidden;
        }
        .nav-link {
            color: white;
            text-decoration: none;
            padding: 10px 20px;
            font-size: 14px;
            border-radius: 50px;
            border: 1px solid white; /* Thin white border */
            transition: background-color 0.3s, border-color 0.3s;
        }
        .nav-link:hover {
            background-color: #7db3f5; /* Blue color on hover */
            border-color: #7db3f5; /* Match border color on hover */
        }
 
 







        .question {
            margin-bottom: 10px;
        }
        .answers button {
            margin: 5px;
        }
        
        button {
            background-color: #7CB342; /* Green color */
            color: white;
            padding: 15px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 50px;
            border: none;
            cursor: pointer;
            font-family: Arial, sans-serif;
            align-items: center;
        }
        button:hover {
            background-color: #5A8C2A; /* Darker green color for hover effect */
        }
        .button-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px; /* Space between buttons */
        }
        .question {
            /* background-image: url('path_to_your_background_image.jpg');  */
            background-size: cover;
            background-position: center;
            color: black;
            text-align: center;
            padding: 100px 20px;
            font-size: 48px;
            font-weight: bold;

        }
        
        
        .header {
            display: flex;
            align-items: center;
            padding: 10px;
            background-color: #f8f8f8;
            width: fit-content; /* Adjusts the width to fit the content */
            border-radius: 10px;
        }
        .header img {
            height: 100px; /* Adjust the height as needed */
            border-radius: 10px;
        }


